<div id="dynamic-table-root" data-table-name="<%= @table_name %>" data-subsystem-id="<%= params[:subsystem_id] %>"></div>
<%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>