<h1 class="text-xl font-bold">Subsystems</h1>
<div class="mb-4">
  <%= link_to "Add New Subsystem", new_subsystem_path, class: "bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded" %>
</div>

<ul>
  <% @subsystems.each do |subsystem| %>
    <li>
      <%= link_to subsystem.name, subsystem_path(subsystem), class: "text-blue-500 hover:underline" %>
    </li>
  <% end %>
</ul>
