<h1><%= @subsystem.name %> Subsystem Evaluation Data</h1>

<% if @subsystem.evaluations.any? %>
  <table>
    <thead>
      <tr>
        <th>Evaluation Attribute</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <% @subsystem.evaluations.each do |evaluation| %>
        <tr>
          <td><%= evaluation.attribute_name %></td>
          <td><%= evaluation.value %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No evaluations have been submitted for this subsystem yet.</p>
<% end %>
