<!-- app/views/pages/suppliers.html.erb -->
  <div class="bg-white shadow rounded-lg p-6" data-controller="tabs">
    <h2 class="text-xl font-semibold text-gray-900">Projects</h2>
    <div class="my-4 flex justify-between items-center">
   
    <%= link_to "Add New Project", new_project_path, class: "bg-buttonRed text-white py-2 px-4 rounded ml-4" %>  
  </div>
  </div>

