<%= form_with model: @project, local: true do |form| %>
  <h1 class="text-xl font-semibold">Create New Project</h1>

  <div class="mb-4">
    <%= form.label :name, "Project Name" %>
    <%= form.text_field :name, class: "form-input w-full" %>
  </div>


  <div class="mt-4">
    <%= form.submit "Create Project", class: "bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded" %>
  </div>
<% end %>