<%= form_with model: [@project, @project_scope, @system] do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.submit 'Create System' %>
  </div>
<% end %>