<div class="tabContent bg-gray-200 p-6 rounded-lg w-[70%] border-solid border-2 border-gray-300 hidden" data-tabs-target="tabContent" data-tabs-tab-content="projects">
  <h2 class="text-xl font-bold text-red-700">Projects</h2>
</div>